{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Gerenciamento de Créditos{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    {% block extra_css %}{% endblock %}

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

    {% block content %}{% endblock %}

    {% block extra_js %}{% endblock %}
</body>
</html>
